
body, html {
 overflow:hidden;
 height:100%;
 font-family: Tahoma, Geneva, sans-serif;
 margin: 0;
}

body{
 background-image: url(rorygrant.github.io/Site.png); 
 background-size: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color:#2e282a;
}


#vescreen h1{
 float:center;
 margin-left:25%;
 font-size:1.4vw;
}

.veSlides{
  overflow:hidden;
  position: relative;
  width:70%;
  padding-bottom: 56.25%; 
  height: 0;
  margin:10px;
  
}

.veSlides video{
  float:left;
  overflow:hidden;
  position: absolute;
  top:0;
  left:20%;
  width: 70%;
  height: 70%;
}

#playlist{
  overflow:hidden;
  position: relative;
  width:15%;
  padding-bottom: 56.25%; 
  height: 0.5;
  margin:.69vw;
  padding-top:.8vw;
  font-size:1vw;
  
}

#icons{
	float:center;
	top: 55%;
  	right: 45%;
}

#playlist .listcontainer{
	height:5.6vw;
	width:5.6vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	float:center;
	margin:.69vw;
	text-decoration:none;
	color:white;
	font-weight:bold;
	cursor: pointer;
	border:.69vw solid #2e282a;

}

#playlist .playpause{
	display: inline-block;
	height:2.4vw;
	width:2.4vw;
	background-color:green;
	position: relative;
	text-align:center;
	text-decoration:none;
	color:white;
	font-weight:bold;
	cursor: pointer;
	border:.69vw solid #2e282a;

}

#veply{
	margin-left:.69vw;
}

#unist-box{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("UNISTthumb.png");
}

#unist-box:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("UNISTthumb.png");
}

#palu-box{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Paluthumb.png");
}

#palu-box:hover{
	background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("Paluthumb.png");
}

#wagner-box{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Wagnerthumb.png");
}

#wagner-box:hover{
	background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("Wagnerthumb.png");
}

#anne-box{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Annethumb.png");
}

#anne-box:hover{
	background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("Annethumb.png");
}

#toku-box{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Tokuthumb.png");
}

#toku-box:hover{
	background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("Tokuthumb.png");
}

#SG-box{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("SGthumb.png");
}

#SG-box:hover{
	background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("SGthumb.png");
}

#title{
	text-align:center;
	float:center;
	font-size: 5vw;
}

#sub{
	width:50%;
	text-align:center;
	float:center;
	color: rgba(142,142,142,0.1);
	font-size: 3vw;
	padding-left: 50px;
}

#sub :hover{
	color: rgba(162,162,162,0.6);
	font-size: 3vw;
	padding-left: 55px;
}

#name {
	color: rgba(236,240,241,0.9);
	font-size: 7vw;

}

#navbar a{

	position: absolute;
	left: -200px;
	transition: 0.3s;
	padding: 10px;
	width: 240px;
	text-align: left;
	text-decoration: none;
	font-size: 20px;
	border-radius: 0 5px 5px 0;
	color: black;
}

#navbar a:hover {
	left:0px;

}

#navbar #wd {
  top: 20px;
  background-color: mediumturquoise;
  
}

#navbar #mu {
  top: 80px;
  background-color: green;
  
}

#navbar #ve {
  top: 140px;
  background-color: lime;

}

#navbar #gp {
  top: 200px;
  background-color: yellow;
}

i.fas{
 float:right;
}

.sidenav {
	height:100%;
	z-index:5;
	position: fixed;
	top:0;
	left:0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 80px;
	color: black;
}

.sidenav .closebtn{
	position: absolute;
	text-decoration: none;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: black;
}

#wdscreen {
	background-color: mediumturquoise;
	width:0%;
}

#muscreen {
	background-color: green;
	width:0%;
}

#vescreen {
	background-color: lime;
	width:0%;
}

#gpscreen {
	background-color: yellow;
	width:0%;
}

#res a{
  position:fixed;
  top: 55%;
  right: 45%;
  background-color: green;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  border-radius: 5px 5px 5px 5px;
}
